<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY1</key>
	<string>65a1fb4691e74bd89240d4d328c336e4</string>
	<key>API_KEY</key>
	<string>1ff7f3ad2807435fb81c5134bb758c54</string>
	<key>BASE_URL</key>
	<string>https://newsapi.org/v2</string>
</dict>
</plist>
